services:
  db:
    image: pgvector/pgvector:pg17
    container_name: fiotec-postgres
    environment:
      POSTGRES_DB: fiotec
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    image: gleidsoncosta/fiotec-iaeditais:latest
    container_name: fiotec-iaeditais
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./.env:/app/.env:r
      - ./storage:/app/storage:rw

  cache:
    image: redis:latest
    container_name: fiotec-redis
    ports:
      - "6379:6379"
    volumes:
      - cache:/data
    command: redis-server --save 60 1 --loglevel warning
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db:
  cache:
