[project]
name = "iaeditais"
version = "0.1.0"
description = ""
authors = [
    {name = "meirelesgc",email = "geu_costa@outlook.com"}
]
package-mode = false
readme = "README.md"
requires-python = ">=3.12,<4.0"
dependencies = [
    "fastapi[standard] (>=0.115.7,<0.116.0)",
    "pydantic-settings (>=2.7.1,<3.0.0)",
    "psycopg[pool] (>=3.2.4,<4.0.0)",
    "psycopg[pool] (>=3.2.4,<4.0.0)",
    "pytest (>=8.3.4,<9.0.0)",
    "testcontainers[postgres] (>=4.9.1,<5.0.0)",
    "langchain (>=0.3.17,<0.4.0)",
    "pypdf (>=5.2.0,<6.0.0)",
    "langchain-community (>=0.3.16,<0.4.0)",
    "langchain-openai (>=0.3.4,<0.4.0)",
    "pytest-mock (>=3.14.0,<4.0.0)"
]


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.4"
pytest-cov = "^6.0.0"
taskipy = "^1.14.1"
ruff = "^0.9.3"
fpdf = "^1.7.2"

[tool.ruff]
line-length = 79
extend-exclude = ['migrations']

[tool.ruff.format]
preview = true
quote-style = 'single'

[tool.pytest.ini_options]
pythonpath = "."
addopts = '-p no:warnings'

[tool.taskipy.tasks]
run = 'fastapi dev iaEditais'
test = 'pytest -s -x --cov=iaEditais -vv; coverage html'