name: CI/CD Pipeline - iaEditais Back

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

env:
  ECR_REPOSITORY: iaeditais-back
  IMAGE_TAG: ${{ github.sha }}

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@iaeditais_db:5432/iaeditais
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Instalar Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Instalar Dependências
        run: poetry install --no-interaction --no-root

      - name: Rodar Testes
        run: poetry run task test